body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header{
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.quiz {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.quiz h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.options button:hover {
  background-color: #0056b3;
}
.options button.correct {
  background-color: #28a745 !important;
}
.options button.incorrect {
  background-color: #dc3545 !important;
}